<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Spring Security Example </title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
</head>
<body>
<div style="color:darkred" th:if="${param.error}">
  Invalid username or password.
</div>
<div th:if="${param.logout}">
  You have been logged out.
</div>
<form th:action="@{/auth/processLogin}" method="post" th:object="${user}">
  <label> Email : <input type="email" name="username" th:value="'wildiskin@gmail.com'"/> </label>
  <br/>
  <label> Password: <input type="password" name="password" th:value="12345678"/> </label>
  <br/>
  <div><input type="submit" value="Sign In"/></div>
</form>
<a href="/auth/registration">registration</a>
</body>
</html>