<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
<form th:method="POST" th:action="@{/auth/registration}" th:object="${user}">
    <label for="name">Enter a name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:darkred" th:if="${#fields.errors('name')}" th:errors="*{name}"></div>
    <br/>
    <label for="username">Enter your email address</label>
    <input type="email" th:field="*{username}" id="username"/>
    <div style="color:darkred" th:if="${#fields.errors('username')}" th:errors="*{username}" ></div>
    <br/>
    <label for="username">Enter your phone</label>
    <input type="number" th:field="*{phone}" id="phone"/>
    <div style="color:darkred" th:if="${#fields.errors('phone')}" th:errors="*{phone}" ></div>
    <br/>
    <label for="password">Enter your password</label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:darkred" th:if="${#fields.errors('password')}" th:errors="*{password}"></div>
    <br>
    <input type="submit" value="create">
</form>
</body>
</html>