<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>book</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<!--<div th:object="${book}">-->
<!--    <span th:text="${book.getName()}"></span>-->
<!--    <span th:text="${book.getGenre()}"></span>-->
<!--    <span th:text="${book.getAuthor()}"></span>-->
<!--</div>-->
<form th:method="POST" th:action="@{/update/book}" th:object="${book}">
    <label for="id"></label>
    <input type="text" th:field="*{id}" id="id" hidden>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:darkred" th:if="${#fields.errors('name')}" th:errors="*{name}"></div>
    <hr/>
    <label for="genre">Genre</label>
    <input type="text" th:field="*{genre}"  id="genre"/>
    <div style="color:darkred" th:if="${#fields.errors('genre')}" th:errors="*{genre}"></div>
    <hr/>
    <label for="author">Author</label>
    <input type="text" th:field="*{author}"  id="author"/>
    <div style="color:darkred" th:if="${#fields.errors('author')}" th:errors="*{author}"></div>
    <hr/>
    <label for="movieChild">Produced film</label>
    <input type="text" th:field="*{movieChildName}" id="movieChild"/>
    <div style="color:darkred" th:if="${#fields.errors('movieChildName')}" th:errors="*{movieChildName}"></div>
    <hr/>
    <input type="submit" value="Update">
</form>
<!--<form th:href="@{'/book/' + book.getId()}" th:method="GET">-->
<!--    <input type="submit" value="Edit" />-->
<!--</form>-->
<a th:href="${'/delete/book/' + book.getId()}">
    <input type="submit" value="Delete" />
</a>
<form th:action="@{/all/books}" th:method="GET">
    <input type="submit" value="Back to list of books" />
</form>
</body>
</html>