<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
<form th:method="POST" th:action="@{update/director}" th:object="${director}">
    <input type="text" th:text="${director.getName()}" id="name" />
    <div th:each="movie : ${director.getMovies()}">
        <label for="film">movie:</label>
        <input th:field="*{movie.getName()}" id="film"/>
    </div>
</form>
<hr/>
<a th:href="${'/delete/director/' + director.getId()}">
    <input type="submit" value="Delete" />
</a>
<hr/>
<form th:action="@{/all/directors}" th:method="GET">
    <input type="submit" value="Back to list of directors" />
</form>
</body>
</html>