<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<div th:object="${movie}">
    <span th:text="${movie.getName()}"></span>
    <span th:text="${movie.getYear()}"></span>
    <span th:text="${movie.getDescription()}"></span>
    <span th:text="${movie.getSourceBook()}"></span>
</div>
<hr/>
<a th:href="${'/delete/movie/' + movie.getId()}">
    <input type="submit" value="Delete" />
</a>
<hr/>
<form th:action="@{/all/movies}" th:method="GET">
    <input type="submit" value="Back to list of movies" />
</form>
</body>
</html>