<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
<h1>Hello friend</h1>
<h4><a href="/all/movies">Show all movies</a></h4>
<hr/>
<a href="/all/directors">Show all directors</a>
<hr/>
<a href="/all/books">Show all books</a>
<hr/>
<a href="/new/movie">Add movie in collection</a>
<br>
<a href="/new/book">Add book in collection</a>
<br>
<a href="/new/director">Add director in collection</a>
<br>
<br>
<a href="/basket">My basket</a>
<hr/>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout" />
</form>
</body>
</html>