<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new director</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
<form th:method="POST" th:action="@{/new/director}" th:object="${director}">
    <label for="name">Enter a name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:darkred" th:if="${#fields.errors('name')}" th:errors="*{name}"></div>
    <br>
    <input type="submit" value="create">
</form>
<form th:action="@{/}" th:method="GET">
    <input type="submit" value="Back to main page" />
</form>
</body>
</html>