<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
<div th:each="dir : ${directors}">
    <a th:text="${dir.getName()}" th:href="${'/director/' + dir.getId()}"></a>
<!--    <div th:each="m : ${dir.getMovies()}">-->
<!--        <span th:text="${m}"></span>-->
<!--        <br>-->
<!--    </div>-->
    <hr>
</div>
<form th:action="@{/}" th:method="GET">
    <input type="submit" value="Back to main page" />
</form>
</body>
</html>