<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>all movies</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
<div th:each="movie : ${movies}">
    <a th:text="${movie.getName()}" th:href="${'/movie/' + movie.getId()}"></a>
<!--    <br/>-->
<!--    <span th:text="${movie.getDirector()}"></span>-->
<!--    <br/>-->
<!--    <span th:text="${movie.getSourceBook()}"></span>-->
<!--    <br/>-->
<!--    <span th:text="${movie.getDescription()}"></span>-->
    <hr/>
</div>
<form th:action="@{/}" th:method="GET">
    <input type="submit" value="Back to main page" />
</form>
</body>
</html>